* {
    font-family: Arial, Helvetica, sans-serif;
}

#leftside {
    float: left;
    width: 30%;
    min-height: 1200px;
    background-color: rgb(77, 192, 154);
}

#rightside {
    float: left;
    width: 70%;
    min-height: 1200px;
    background-color: rgb(238, 226, 192);
    position: relative;
}

#container {
    background-color: rgba(255, 255, 255, 0.85);
    position: absolute;
    top: 15%;
    left: 15%;
    min-width: 1100px;
    min-height: 1050px;
    border-radius: 0.7em;
    padding-bottom: 70px;
}

header {
    background-color: rgba(231, 229, 229, 0.5);
    padding: 0.5em 1em;
    color: rgb(216, 150, 7);
}

header span {
    font-family: 'Sacramento', cursive;
    font-size: 2.75em;
}

main {
    position: relative;
}

main h2 {
    position: absolute;
    left: 20%;
    top: 30px;
    margin: 25px 0 200px 50px;
    color: rgb(60, 190, 160);
    text-transform: uppercase;
}

main #photos img {
    margin: 0.75em;
    border: 0.85em solid rgb(255, 255, 255);
}

section#blogposts {
    position: absolute;
    left: 20%;
    top: 70px;
    padding: 50px;
}

main .post {
    margin: 25px;
    padding: 25px;
    border: 2px solid rgba(83, 78, 58, 0.6);
    border-radius: 0.5em;
    position: relative;
}

footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    text-align: center;
    font-size: 0.85em;
}

/* profile picture styling */
.profile-pic {
    width: 40px;
    cursor: pointer;
    margin-right: 10px;
    vertical-align: middle;
}

/* profile modal */
.profile-modal {
    position: fixed;
    top: 30%;
    left: 40%;
    background-color: #ffffff;
    border: 2px solid #333;
    padding: 20px;
    width: 300px;
    z-index: 1000;
}

.close-btn {
    float: right;
    cursor: pointer;
    font-size: 16px;
}

/* navigation styling */
.nav-links a {
    margin-left: 15px;
    color: #b30000;
    font-weight: bold;
    text-decoration: none;
}